beeply==1.0.2
bottle==0.13.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
docker==7.1.0
dynamixel-sdk==3.7.31
Flask==1.0.2
Flask-Login==0.5.0
flaskcom @ git+https://github.com/LemonSpeech/flaskcom.git@44660c8622c5aa13ad42928522290ab3572913b4
fonttools==4.56.0
idna==3.10
ikpy==3.0.1
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
math3d==4.0.0
matplotlib==3.10.1
mpmath==1.3.0
nicoaudio==1.0
nicoemotionrecognition @ file:///C:/NICO/Install/NICO-software/api/src/nicoemotionrecognition
nicoface==1.0
nicomotion==1.0
nicotouch @ file:///C:/NICO/Install/NICO-software/api/src/nicotouch
numpy==2.2.3
opencv-contrib-python==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pinocchio==0.4.3
pybullet==3.2.7
pyparsing==3.2.1
pypot==5.0.2
pyserial==3.5
PySimpleGUI==5.0.0.16
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==308
requests==2.32.3
scipy==1.15.2
setuptools==75.8.0
six==1.17.0
sympy==1.13.3
tornado==6.4.2
transforms3d==0.4.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
